/* Diego Martinez Menendez - UO270457 */

/* Estilos generales del proyecto MotoGP-Desktop

W. White        #FFFFFF
B. Black        #000000

1. Olive Green  #9BA216 	B
2. Dark Green   #304606 	W, 3, 4, 5
3. Chartreuse   #D6E024 	B, 2, 7
4. Yellow Green #EBF094   B, 2, 7

5. Mauve        #E6D1DC   B, 2, 7
6. Lavender     #C197D2		B
7. Orchid       #5B3354 	w, 3, 4, 5

*/

/*Especificidad: 001*/
body {
  font-family: Verdana, sans-serif;
  color: #FFFFFF;
  background-color: #304606;
}

/*Especificidad: 011*/
body a{
  color: #EBF094;
}

/*Especificidad: 001*/
header{
  background-color: #EBF094;
}

/*Especificidad: 011*/
header a{
  color: #5B3354;
}

/*Especificidad: 001*/
h1{
  color: #304606;
}

/*Especificidad: 001*/
h2, h3{
  color: #EBF094;
}

/*Especificidad: 001*/
nav{
  color: #304606;
}

/*Especificidad: 013*/
nav a:focus {
  font-weight: bold;
}

/*Especifidad: 010*/
.active {
  color: #EBF094;
  font-weight: bold;
  background-color: #304606;
}